.form-todo {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__sort {
    display: flex;
    gap: 5px;

    button {
      width: fit-content;
      padding: 3px 7px;
      height: 30px;
      right: 15px;
      font-size: 14px;
      cursor: pointer;
      color: white;
      background-color: #00d8fe;
      border: none;
      border-radius: 5px;
    }
  }

  &__btn {
    width: 120px;
    height: 30px;
    right: 15px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    background-color: #00d8fe;
    border: none;
    border-radius: 5px;
  }
}
